$width: 680px;
$width-row: calc($width / 7);

html {
  height: 100vh;
  font-size: 40px;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}


.calendar {
  background-color: #8d6f6f;
  width: $width;
  box-shadow: 0 0 10px black;

  &__head {
    text-align: center;
    margin: 20px 0;
  }

}

.week {
  display: flex;
  justify-content: space-between;

  &__day {
    width: $width-row;
    text-align: center;
    padding: 20px 0;
    background-color: #f0ffff;
    user-select: none;
    cursor: pointer;

    &.disabled {
      background-image: radial-gradient(#dce8e8, #f0ffff);
      color: dimgrey;
      cursor: not-allowed;
    }

    &:focus {
      background-color: #5e3535;
    }

    &:not(.disabled):hover {
      background-color: indianred;
    }

    input {
      display: contents;
      z-index: -1;
    }

    &--holiday {
      &:not(.disabled):hover {
        background-color: #cd8282;
      }
    }
    &--celebrate {
      background-color: #b18585;
    }
  }

  &__day--description {
    width: $width-row;
    text-align: center;
    user-select: none;
  }
}